-r ./requirements.txt

watchdog[watchmedo]

black
isort

boto3-stubs[s3]
sqlalchemy[mypy]
types-requests
types-PyYAML
types-cachetools
types-pytz
types-redis
types-aiofiles
types-ujson
types-certifi
types-python-dateutil
types-setuptools
types-toml

pip-tools

# [ TEST ] 
pytest
pytest-cov
asphalt
mypy
httpx
time-machine

pip-tools